.user {
    background-color: #47176e;
    color: white;
    cursor: pointer;
    margin-left: 7px;
    width: 290px;
    height: 290px;
    border-radius: 20px;
}

.user p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.input {
    margin: 10px;
    font-size: 20px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

.user_card {
    display: flex;
    flex-direction: column;
}

.delete_btn {
    display: flex;
    justify-content: center;
}

.delete_btn button {
    cursor: pointer;
}

.delete_btn button {
    font: inherit;
    cursor: pointer;
    background-color: #8e261c;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #a2310e;
    border-radius: 4px;
    font-weight: bold;
}

.delete_btn button:hover,
.delete_btn button:active {
    background-color: #790b05;
    border-color: #721709;
}
